{% extends "base.html" %}
{% block title %}Student List{% endblock %}
{% block content %}

<hr class="rs-hr">
<p><br>
<div class="panel panel-default">
   <div class="panel-heading rs-panel-heading">
      Student List for {{ class.course.name_id }}, 
	  {{ class.term.name }}
	  {{ class.term.year }}
   </div>
   <div class="panel-body">
   {%for info in class_list%}
		<span style='text-decoration:underline' onclick="$('#profile{{info.student.registration.id}}').toggle()">
			{{info.student.registration.first_name}}
		&nbsp;{{info.student.registration.last_name}}
		</span>
		<div style="display:none;" id="profile{{info.student.registration.id}}">
			<table class="table">
				<tr>
					<th>Email</th> <td><a href='mailto:{{info.student.registration.email}}'>{{info.student.registration.user.email}}</a></td>
				</tr>
				<tr>
					<th>Age</th><td>{{info.student.registration.date_of_birth}}</td>
				</tr>
				<tr>
					<th>Department</th><td>{{info.student.department.name}}</td>
				</tr>
			</table>
		</div>
    <br>
   {%endfor%}
   </div>
</div>

{%endblock content%}