{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<hr class='rs-hr'>
<p><br>
<div class="panel-body">
  {% if user.person.account_type == "student"  %}
    <form action="/drop_course/" method="post">
  {% endif %}
  {% if user.person.account_type == "professor"  %}
    <form action="/drop_course_prof/" method="post">
  {% endif %}
  {% csrf_token %}
  <div class="panel panel-default" >
    <div class="panel-heading rs-panel-heading">
      Courses
    </div>
    <table class="table table-striped">
    <tr>
	  <th>Course</th>
    </tr>
    {% for course in courses %}
    <tr>
	  <td>
	  <input type="checkbox" id='{{course.id}}' name='courses_checkbox' value='{{course.id}}'>
	  <a href='/show_course?id={{course.id}}'>{{course.name}} ({{course.name_id}})</a><br>
	  <i>
		<span class='rs-font-small'>
		 Professor:
		{% if course.professor == None %}
		 TBA
		{%else%}
			{{course.professor.registration.last_name}},
			{{course.professor.registration.first_name}}&nbsp;
		{%endif%}
		</span>
	    </i>
	    </td>
      </tr>
    {% endfor %}
    </table>
  </div>		  
  <button type="submit" class="btn btn-success">Drop</button>
  </form>
</div>

{%endblock content%}