
<form action="/set_password/" method="post">
{% csrf_token %}
<p>
 <table class="table table-striped">
	<tr>
	   <th valign=top >
		  Old Password
	   </th>
	   <td>
		  <input type="password" class="form-control" name="old_pw">
	   </td>
	</tr>
	<tr>
	   <th valign=top >
		  Password
	   </th>
	   <td>
		  <input  type="password" class="form-control" name="pw">
	   </td>
	</tr>
	<tr>
	   <th>Confirm</th>
	   <td><input type="password" name="pw_confirm" class="form-control" type=text></td>
	</tr>
 </table>
 <button type="submit" class="btn btn-success">Submit</button>
</form>