{% extends "base.html" %}
{% block title %}New Account Made{% endblock %}
{% block content %}
<hr class="rs-hr">
<p><br>
<div class="panel panel-default">
  <div class="panel-heading rs-panel-heading">
    New Account Made
  </div>
  <div class="panel-body">
	<b>Login</b>: {{username}}<br>
	<b>Temporary password</b>: {{password}}<p><br>
	{%if user.person.pending_activation%}
	<p>
	Awaiting activation. You will not be able to login
	until your account has been approved.
	{%endif%}
  </div>
</div>
<p>
  {% endblock content %}